In [6]:
import pandas as pd
from pathlib import Path
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv

In [7]:
load_dotenv()

username = os.getenv("MYSQL_USERNAME")
password = os.getenv("MYSQL_PASSWORD")
target_ip = os.getenv("MYSQL_IP")
target_port = int(os.getenv("MYSQL_PORTT"))
db_name = os.getenv("MYSQL_DB_NAME")

In [8]:
engine = create_engine(f"mysql+pymysql://{username}:{password}@{target_ip}:{target_port}/{db_name}")
conn = engine.raw_connection()
cursor = conn.cursor()

cursor.execute("SELECT * FROM category")
rows = cursor.fetchall()

columns = [desc[0] for desc in cursor.description]

df = pd.DataFrame(rows, columns=columns)

cursor.close()
conn.close()

df

  category_id category_name  category_eng
0           1          動物醫院      hospital
1           2          寵物餐廳    restaurant
2           3          寵物旅館         hotel
3           4          寵物美容         salon
4           5          寵物用品      supplies
5           6           收容所       shelter
6           7        24動物醫院  hospital_24h

In [11]:
engine = create_engine(f"mysql+pymysql://{username}:{password}@{target_ip}:{target_port}/{db_name}")

conn = engine.raw_connection()

sql = "SELECT * FROM category"

df = pd.read_sql(sql, conn)

conn.close()

df

C:\Users\add41\AppData\Local\Temp\ipykernel_11436\307802050.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, conn)

  category_id category_name  category_eng
0           1          動物醫院      hospital
1           2          寵物餐廳    restaurant
2           3          寵物旅館         hotel
3           4          寵物美容         salon
4           5          寵物用品      supplies
5           6           收容所       shelter
6           7        24動物醫院  hospital_24h

In [14]:
engine = create_engine(f"mysql+pymysql://{username}:{password}@{target_ip}:{target_port}/{db_name}")

df.to_sql(name="test", index=False, if_exists="replace", con=engine)

# conn.close()

C:\Users\add41\AppData\Local\Temp\ipykernel_11436\1350095973.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(name="test", index=False, if_exists="replace", con=engine)

AttributeError: 'Engine' object has no attribute 'cursor'