In [1]:
import pandas as pd
import ast
import os
from datetime import date, datetime, timedelta
import numpy as np

import geopandas as gpd
import pandas as pd
from dotenv import load_dotenv
from shapely.geometry import Point
from sqlalchemy import create_engine

load_dotenv()

True

In [7]:
import pymysql

username = os.getenv("MYSQL_USERNAME")
password = os.getenv("MYSQL_PASSWORD")
target_ip = os.getenv("MYSQL_IP")
target_port = int(os.getenv("MYSQL_PORTT"))
db_name = os.getenv("MYSQL_DB_NAME")

conn = pymysql.connect(
    host=target_ip,
    port=3306,
    user=username,
    password=password,
    database=db_name,
    charset='utf8mb4'
)

sql = "SELECT * FROM location"

df = pd.read_sql(sql, conn)

df

C:\Users\add41\AppData\Local\Temp\ipykernel_19920\2316694949.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, conn)

     loc_id city district    area  population
0    NTP001  新北市      板橋區   23.14    550256.0
1    NTP002  新北市      三重區   16.32    383035.0
2    NTP003  新北市      中和區   20.14    404507.0
3    NTP004  新北市      永和區    5.71    211631.0
4    NTP005  新北市      新莊區   19.74    421669.0
..      ...  ...      ...     ...         ...
153  KSH034  高雄市      杉林區  104.00     10595.0
154  KSH035  高雄市      內門區   95.62     12609.0
155  KSH036  高雄市      茂林區  194.00      1838.0
156  KSH037  高雄市      桃源區  928.98      4137.0
157  KSH038  高雄市     那瑪夏區  252.99      3110.0

[158 rows x 5 columns]

In [8]:
load_dotenv()

username = os.getenv("MYSQL_USERNAME")
password = os.getenv("MYSQL_PASSWORD")
target_ip = os.getenv("MYSQL_IP")
target_port = int(os.getenv("MYSQL_PORTT"))
db_name = os.getenv("MYSQL_DB_NAME")

engine = create_engine(
    f"mysql+pymysql://{username}:{password}@{target_ip}:{target_port}/{db_name}")

In [9]:
sql = "SELECT * FROM location"

df = pd.read_sql(sql=sql, con=engine)

df

C:\Users\add41\AppData\Local\Temp\ipykernel_19920\3473376678.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql=sql, con=engine)

AttributeError: 'Engine' object has no attribute 'cursor'

In [ ]:
sql = "SELECT * FROM location"

df = pd.read_sql_query(sql=sql, con=engine)

df

C:\Users\add41\AppData\Local\Temp\ipykernel_19920\1197642987.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql=sql, con=engine)

AttributeError: 'Engine' object has no attribute 'cursor'

In [ ]:
df = pd.read_sql_table(table_name="location", con=engine)

df

C:\Users\add41\AppData\Local\Temp\ipykernel_19920\2621869852.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_table(table_name="location", con=engine)

AttributeError: 'Engine' object has no attribute 'cursor'

In [ ]:
load_dotenv()

username = os.getenv("MYSQL_USERNAME")
password = os.getenv("MYSQL_PASSWORD")
target_ip = os.getenv("MYSQL_IP")
target_port = int(os.getenv("MYSQL_PORTT"))
db_name = os.getenv("MYSQL_DB_NAME")

engine = create_engine(
    f"mysql+pymysql://{username}:{password}@{target_ip}:{target_port}/{db_name}")

df = pd.DataFrame({
    "id":[1, 2, 3],
    "age":[10,20,30]
})

df.to_sql(name="test", con=engine, index=False, if_exists="replace")

C:\Users\add41\AppData\Local\Temp\ipykernel_26988\3911614835.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(name="test", con=engine, index=False, if_exists="replace")

AttributeError: 'Engine' object has no attribute 'cursor'